body{
    margin: 0;
    padding: auto;
    background: #efeeee;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #efeeee;
  }
  .logo1{
    font-size: 18px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.logo {
    display: flex;
    align-items: center;
    font-weight: bold;
    margin-left: 50px;
  }
  .logo img {
    width: 30px;
    margin-right: 10px;
  }
  .menu-item {
    display: inline-block;
padding-right:70px;
  }
  .menu-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    padding-right:58px;
  margin-left: 30px;
  color: #170C04;
  }
  .menu-text:hover{
    color: #E27B3A;
  }
.Rectangle{
    position: absolute;
    width: 514px;
    height: 733px;
    left: 1005px;
    top: 0px;
}
.text1{
    position: absolute;
width: 613px;
height: 171px;
left: 150px;
top:148px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 100px;
color: #170C04;
}
.dog{
    position: absolute;
width: 916px;
height: 611px;
left: 550px;
top: 82px;
mix-blend-mode: darken;
}
.btn1{
    border: none;
    position: absolute;
    width: 123px;
    height: 48px;
    left: 150px;
    top: 508px;
    background: #E27B3A;
    border-radius: 24px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #FFFFFF;
}
.btn1:hover{
    background-color: rgb(245, 186, 110);
    color: #ffffff;
}
.btn2{
    box-sizing: border-box;
position: absolute;
width: 139px;
height: 48px;
left:310px;
top: 508px;
opacity: 0.5;
border: 1px solid #f16812;
border-radius: 24px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #e96310;
}
.btn2:hover{
    background: #E27B3A;
    color: white;
}
/* 1 */
.card1 {
    box-sizing: border-box;
position: absolute;
width: 360px;
height: 261px;
left: 150px;
top: 852px;
background: #f2f1f1;
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 8px;
}

.corm{
    position: absolute;
width: 37px;
height: 37px;
left:158px;
top:9px;
bottom: 20px;
mix-blend-mode: darken;
}
.vector{
    position: absolute;
    left:145px;
top:0px;
bottom: 85.07%;
}
.text2{
    position: absolute;
width: 310px;
height: 76px;
left:28px;
top: 40px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 38px;
text-align: center;
color: #170C04;
}
.text3{
    position: absolute;
width: 298px;
height: 48px;
left:28px;
top: 140px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
text-align: center;
color: #170C04;
opacity: 0.6;
}
.text4{
    position: absolute;
width: 133px;
height: 24px;
left: 130px;
top: 200px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;
color: #E27B3A;
}
.text4:hover{
    color: rgb(41, 41, 41);
}
/* 2 */
.card2 {
    box-sizing: border-box;
position: absolute;
width: 360px;
height: 261px;
left:590px;
top: 852px;
background: #f2f1f1;
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 8px;
}

.corm2{
    position: absolute;
width: 57px;
height: 57px;
left:150px;
top:0px;
bottom: 20px;
mix-blend-mode: darken;
}
.vector2{
    position: absolute;
    left:145px;
top:0px;
bottom: 85.07%;
}
.text5{
    position: absolute;
width: 310px;
height: 76px;
left:28px;
top: 40px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 38px;
text-align: center;
color: #170C04;
}
.text6{
    position: absolute;
width: 298px;
height: 48px;
left:28px;
top: 140px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
text-align: center;
color: #170C04;
opacity: 0.6;
}
.text7{
    position: absolute;
width: 133px;
height: 24px;
left: 130px;
top: 200px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;
color: #E27B3A;
}
.text7:hover{
    color: rgb(41, 41, 41);
}
/* 3 */
.card3 {
    box-sizing: border-box;
position: absolute;
width: 360px;
height: 261px;
left:1030px;
top: 852px;
background: #f2f1f1;
border: 1px solid rgba(0, 0, 0, 0.1);
border-radius: 8px;
}
.corm3{
    position: absolute;
width: 57px;
height: 57px;
left:150px;
top:0px;
bottom: 20px;
mix-blend-mode: darken;
}
.vector3{
    position: absolute;
    left:145px;
top:0px;
bottom: 85.07%;
}
.text8{
    position: absolute;
width: 310px;
height: 76px;
left:28px;
top: 40px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 38px;
text-align: center;
color: #170C04;
}
.text9{
    position: absolute;
width: 298px;
height: 48px;
left:28px;
top: 140px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
text-align: center;
color: #170C04;
opacity: 0.6;
}
.text10{
    position: absolute;
width: 133px;
height: 24px;
left: 130px;
top: 200px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;
color: #E27B3A;
}
.text10:hover{
    color: rgb(41, 41, 41);
}
.text11{
    position: absolute;
width: 505px;
height: 42px;
left: 537px;
top: 1211px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 47px;
line-height: 48px;
text-align: center;
color: #170C04;
}
.text12{
    position: absolute;
width: 575px;
height: 65px;
left: 499px;
top: 1291px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 24px;
text-align: center;
color: #170C04;
opacity: 0.6;
}
.cardd{
    position: absolute;
width: 555px;
height: 420px;
left: 192px;
top: 1411px;
background: #fee9da;
border-radius: 20px;
}
.cardd2{
    position: absolute;
    width: 555px;
    height: 420px;
    left:812px;
    top: 1411px;
    background: #fee9da;
    border-radius: 20px;
}
.collar{
    position: absolute;
width: 373px;
height: 278px;
left: 93px;
top:92px;
mix-blend-mode: darken;
}
.collar2{
position: absolute;
width: 304px;
height: 304px;
left: 126px;
top:92px;
mix-blend-mode: darken;
}
.text13{
    position: absolute;
margin-top: 79%;
margin-left: 30%;
    font-family: 'Roboto';
text-align: center;
font-weight: 500;
font-size: 25px;
line-height: 38px;
color: #170C04;
}
.text14{
margin-top: 87%;
    font-family: 'Roboto';
font-weight: 100;
font-size: 16px;
line-height: 19px;
text-align: center;
color: #E27B3A;
}
.text14:hover{
    color: #170C04;
}
.container4 {
    display: flex;
    margin-top: 130%;
    margin-left: 15%;
  }
  
  .box {
    width: 355px;
    height: 250px;
    background: #fee9da;
    border-radius: 20px;
    margin-right: 20px;
  }
  /* .box:last-child {
    margin-right: 0;
  } */
 
  .photo1{
    /* align-items: center; */
    margin-left:10%;
    margin-top: -5%;
  }
  .photo2{
    align-items: center;
    margin-left:17%;
    margin-top: 10%;
  }
  .photo{
    align-items: center;
    margin-left:15%;
    margin-top: 19%;
  }
  .text15{
    font-family: 'Roboto';
    text-align: center;
    font-size: 25px;
    line-height: 38px;
    color: #170C04;
  }
  .text16{
    margin-top: 24%;
    font-family: 'Roboto';
    text-align: center;
    font-size: 25px;
    line-height: 38px;
    color: #170C04;
  }
  .text17{
    margin-top: 17%;
    font-family: 'Roboto';
    text-align: center;
    font-size: 25px;
    line-height: 38px;
    color: #170C04;
  }
  .text18{
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #E27B3A;
  }
  .text18:hover{
    color: #170C04;
  }
  .btn-orange{
    box-sizing: border-box;
    width: 150px;
    height: 40px;
    margin-top: 17%;
    margin-left: 46%;
border: 1px solid #ffd4b9;
border-radius: 4px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #ec8545;
  }
  .btn-orange:hover{
    color: #f3f0f0;
    border: 1px solid #eb6c1c;
    background-color: #ec8545;
    opacity: 0.5;
  }

 
  .container5 {
    display: flex;
    align-items: center;
    border-radius: 20px 0 0 20px;
    padding: 10px;
    margin-left: 280px;
    margin-top: 100px;
}

.text {
    margin: 10px;
}

.text19 {
    margin-left: 120px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #E27B3A;
    opacity: 0.8;
}

.text20 {
    width: 380px;
    margin-left: 120px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 200;
    font-size: 33.25px;
    line-height: 31px;
    color: #170C04;
}

.text21 {
    width: 397px;
    margin-left: 120px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #170C04;
    opacity: 0.6;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: -90px;
    margin-left: 520px;
}

.button01 {
    margin: 10px;
    width: 189px;
    height: 48px;
    background: #E27B3A;
    border-radius: 24px;
    cursor: pointer;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #FFFFFF;
border: none;
}
.button01:hover{
    background: #f3a879;
    color: white;
}
.button02 {
    margin: 10px;
    width: 189px;
    height: 48px;
    box-sizing: border-box;
    border: 1px solid #fbdac6;
    border-radius: 24px;
    cursor: pointer;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #E27B3A;
}
.button02:hover{
    color: #f3f0f0;
    border: 1px solid #eb6c1c;
    background-color: #ec8545;
    opacity: 0.5;
}

/* .maintext{
    margin-top: 200px;
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 32.25px;
line-height: 45px;
text-align: center;
color: #170C04;
} */


.maintext {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 32.25px;
    line-height: 45px;
    text-align: center;
    color: #170C04;
  }
  

.container6 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 230px;
}

.image-container {
    margin: 70px;
    text-align: center;
}

.image {
    width: 300px;
    height: auto;
    margin-top: 50px;
}

.text-container {
    margin-top: 10px;
    text-align: center;
}

.text {
    margin-bottom: 5px;
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 28px;
text-align: center;
color: #170C04;
}
.textt{
    margin-bottom: 5px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
text-align: center;
color: #170C04;
opacity: 0.6;
}

.button-container {
    text-align: center;
}

.button {
    margin: 5px;
    padding: 10px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #E27B3A;
    border: none;
    cursor: pointer;
}
.btn0container{
    width: 131px;
height: 48px;
margin-top: 50px;
border: none;
background: #E27B3A;
border-radius: 24px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #FFFFFF;
}